body{
           width:100% 100%;
           margin-left:auto;
           margin-right:auto;
           border-width:1px;
        
           
           border-radius:5px;
           padding-left:20px;
           padding-ringt:20px;
         }
div{       
           border-width:1px;
        
           border-radius:5px;
           margin:5px;
           
           
}
#center{
           
           width:auto;
           border-style:solid;
           border-color:gray;
}
#nav,#content{
           display:table-cell;
           border-style:solid;
}
#nav{
           width:auto;
}
div.pic{
           width:auto;
}
.info{
           color:palevioletred;

}
#bu{
           text.align:right;
}
a:link{
           color:palevioletred;
            text-decoration:none;
}
a:visited{
           color:palevioletred;
            text-decoration:none;
}
a:active{
           color:cornflowerblue;
                      text-decoration:none;
}
div.footer{
           width:auto;
           border-style:solid;
           border-color:gray;
}
              

    
           


