body{
           width:1400px;
           margin-left:auto;
           margin-right:auto;
           border-width:1px;
        
           
           border-radius:5px;
           padding-left:20px;
           padding-ringt:20px;
         }
div{       
           border-width:1px;
           
    
           border-radius:5px;
           margin:5px;
           
           
}
#center{
           display:table;
           width:948px;
}
#nav,#content{
           display:table-cell;
}
#nav{
           width:560px;
}
div.pic{
           border-width:1px;
           border-style:solid;
           border-color:gray;
           border-radius:5px;
}
.info{
           color:white;

}
           
                  
           


