h1 {
     color:red;     
}

body{
          background-color:grey;        
}

title{
          color:blue;
}
div h1{
     font-weight:bold;
}
h3{
     color:purple
}
div.pic-end{
     clear:both;
}
div h2{
     font-weight:bold;
}
