.h {
     color:red;     
     outline:#00FF00 dotted thick;
     outline-color:green;
}

body{
          background-color:white;
     background-size:100% 100%;
}

title{
          color:blue;
}
div h1{
     font-weight:bold;
}
h3{
     color:purple;
}
div.pic-end{
     clear:both;
}
div h2{
     font-weight:bold;
}
div.topnav{
     color:green;
     word-spacing:30px;
     margin:20px;
     font-weight:bold;
}
ul li{
     width:200px;
     height:20px;
     float:left;
}
#button{
     float:right;
}
