h1 {
     color:red;     
}

body{
          background-color:white;        
}

title{
          color:blue;
}
div h1{
     font-weight:bold;
}
h3{
     color:purple
}
div.pic-end{
     clear:both;
}
div h2{
     font-weight:bold;
}
div.topnav{
     color:blue;
     word-spacing:30px;
     margin:10px;
}
ul li{
     width:200px;
     height:20px;
     float:left;
}
